---
BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
NamespaceIndentation: All
SpaceAfterCStyleCast: true
SpacesInAngles: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
SortIncludes: true
IncludeBlocks: Regroup
ReflowComments: true
...
